/* fonts */
/* @font-face {
    font-family: "Typo slab";
    src: url("fonts/typo_slab/TypoSlab_light_demo.otf");
  }
  
  @font-face {
    font-family: "Whitin";
    src: url("fonts/Whitin-CondensedBlack.otf");
  }
   */
  /* general */
  html {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    --brown: #d7b596;
    --red: rgb(255, 0, 30);
    --gray: #f3f0ef;
    --dark-red: #c90219;
    /* background-color: var(--brown); */
  }
  
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .hidden {
    display: none;
  }

  #loader {
    text-align: center;
  }
  
  /* header */
  
  header {
    margin-bottom: 40px;
  }
  
  header h1 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding: 0;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }
  
  h2 {
    font-family: "Arial", sans-serif;
    font-size: 2em;
  }
  
  .header-box {
    width: 150px;
    height: 80px;
    padding: 5px;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 25px;
    margin: 25px;
    background-color: BLACK;
    color: white;
    font-weight: 800;
  }

  #refresh-btn {
    border: none;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  .divider {
    background-color: var(--red);
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
    margin-bottom: 3rem;
  }

  .divider h1 {
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    text-align: center;
    grid-gap: 20px;
    text-align: center;
    margin: 20px 20px 0;
  }
  
  .page-desc {
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
  
  .single-story {
    background-color: var(--gray);
    width: 60%;
    padding: 2.5rem;
    display: block;
    margin: 0 auto 2.5rem;
  }

  .single-story h2 {
    font-weight: 800;
  }

  .single-story p {
    color: var(--dark-red);
    font-weight: 800;
  }

  .single-story p span {
    color: black;
    font-weight: 100;
  }
  
  @keyframes expelling {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  /* media queries */
  @media all and (max-width: 970px) {
    h1 {
      font-size: 3em;
      padding-top: 10px;
    }
  }
  
  @media all and (max-width: 760px) {
    h1 {
      font-size: 4em;
      border: none;
      padding-top: 0;
    }
    .header-box {
      display: none;
    }
    h2 {
      display: none;
    }
    .container {
      display: block;
    }
    .sort-container {
      margin-left: 0;
    }
    main {
      display: initial;
    }
    .modal {
      width: 350px;
    }
  }
  
